<dl>
    <dt>
        <label>Título</label>
    </dt>
    <dd>
        <label>{{movie.Title|json}}</label>
    </dd>
    <dt>
        <label>Año</label>
    </dt>
    <dd>
        <label>{{movie.Year|json}}</label>
    </dd>
    <dt>
        <label>País</label>
    </dt>
    <dd>
        <label>{{movie.Country|json}}</label>
    </dd>
    <dt>
        <label>Genero</label>
    </dt>
    <dd>
        <label>{{movie.Genre|json}}</label>
    </dd>
    <dt>
        <label>Rated</label>
    </dt>
    <dd>
        <label>{{movie.Rated|json}}</label>
    </dd>
</dl>
